<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="53933942-76c9-465c-8e3d-5aa94bfb157f" Publisher="CN=famoser" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="53933942-76c9-465c-8e3d-5aa94bfb157f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Famoser.UWPTileGeneratorRevised.TileTestProject</DisplayName>
    <PublisherDisplayName>famoser</PublisherDisplayName>
    <Logo>Assets\TestImages\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Famoser.UWPTileGeneratorRevised.TileTestProject.App">
      <uap:VisualElements DisplayName="Famoser.UWPTileGeneratorRevised.TileTestProject" Square150x150Logo="Assets\TestImages\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Famoser.UWPTileGeneratorRevised.TileTestProject" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\TestImages\Wide310x150Logo.png" Square71x71Logo="Assets\TestImages\Square71x71Logo.png" Square310x310Logo="Assets\TestImages\Square310x310Logo.png" />
        <uap:SplashScreen Image="Assets\TestImages\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>